sheets_api/config_2nd.txt
sheets_api/config_3rd.txt
sheets_api/credentials.json
sheets_api/remote_dir.txt
sheets_api/token.json
data_loader_sellout/credentials.py
semstrat_transformer/semstrat/
semstrat_transformer/output.xlsx
semstrat_transformer/config.py
data_loader_sellout/*.csv
data_loader_sellout/output/
**/__pycache__/